---
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import BlogList from "../../components/BlogList.vue";
import Hero from "../../components/Hero.vue";
import Layout from "../../layouts/Layout.astro";

const heroTitle = "Dev Blog";
const heroText =
  "Articles and opinions of a frontend developer. Also in spanish.";
const heroClasses = "text-light hero-tiny gradient-animation";
const textAlign = "text-left";
const normalizeIdToSlug = (id: string) => id.replace(/\.mdx?$/, "");

const enPosts = (await getCollection("blog"))
  .filter((post) => post.data.published && post.id?.startsWith("en/"))
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
  )
  .map((post) => {
    const normalizedId = normalizeIdToSlug(post.id);

    return {
      ...post,
      slug: getRelativeLocaleUrl("en", normalizedId.slice(3)),
      lang: "en",
    };
  });

const esPosts = (await getCollection("blog"))
  .filter((post) => post.data.published && post.id.startsWith("es/"))
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
  )
  .map((post) => {
    const normalizedId = normalizeIdToSlug(post.id);

    return {
      ...post,
      slug: getRelativeLocaleUrl("es", normalizedId.slice(3)),
      lang: "es",
    };
  });
---

<Layout title="Blog">
  <Hero
    title={heroTitle}
    text={heroText}
    text-align={textAlign}
    hero-classes={heroClasses}
  />
  <section id="start"></section>
  <BlogList enPosts={enPosts} esPosts={esPosts} client:visible />
</Layout>
