---
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import HeroTyped from "../components/HeroTyped.vue";
import PostCollection from "../components/PostCollection.vue";
import { HOME_HERO } from "../const/home";
import Layout from "../layouts/Layout.astro";

const heroClasses = "text-light hero-tiny gradient-animation";
const textAlign = "text-left";
const normalizeIdToSlug = (id: string) => id.replace(/\.mdx?$/, "");

const hero = HOME_HERO;

const recentPosts = (await getCollection("blog"))
  .filter((post) => post.data.published && post.id?.startsWith("en/"))
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
  )
  .slice(0, 4)
  .map((post) => {
    const normalizedId = normalizeIdToSlug(post.id);

    return {
      ...post,
      slug: getRelativeLocaleUrl("en", normalizedId.slice(3)),
      lang: "en",
    };
  });
---

<Layout title="Home">
  <HeroTyped
    typed-title={hero.title}
    subtitle={hero.subtitle}
    text={hero.text}
    social={false}
    small-headings={true}
    text-align={textAlign}
    hero-classes={heroClasses}
    client:visible
  />
  <div id="start"></div>
  <PostCollection title="Latest posts" posts={recentPosts} client:visible />
</Layout>
